@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", serif;
}

.navlink {
    font-weight: bold;
}

header {
    background-image: url(https://i.pinimg.com/564x/14/db/04/14db04c315e07956ccd677be4ef63e16.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
}

h2 {
    color: #000000;
    font-weight: bold;
    font-size: 65px;

}

h3 {
    margin-top: 10px;
    color: #001122;
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* Nadpis */
.heading {
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.idk {
    width: auto;
    height: 600px;
}

.white {
    color: white;
}

.center {
    text-align: center;
}

/* O mne */
.omnetext {
    text-align: center;
    position: relative;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.omnetext1 {
    font-family: "Ballo";
    font-size: 30px;
    font-weight: medium;
    color: #0D0B0B;
    width: 1fr;
    height: auto;
}

.linktext {
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.omnelinks {
    display: flex;
    margin-top: 9px;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.linktoportfolio {
    margin-left: 10px;
}

.omnelink1 {
    background-color: #0D0C0C;
    height: 39px;
    width: 100px;
    border-radius: 8px;
}

.omnelink2 {
    margin-left: 10px;
    background-color: #222222;
    height: 39px;
    width: 100px;
    border-radius: 8px;
}

.omnelink1:hover {
    scale: 1.2;
}

.omnelink2:hover {
    scale: 1.2;
}

.myImg {
    height: 600px;
    width: 100%;
    float: right;
}

/* Portfolio */
.portfolioheading {
    width: 100%;
    height: 200px;
}

.portfolioheading1 {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfoliocontainer {
    height: auto;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.portfoliocenter {
    margin: auto;
}

.buttonportfolio {
    margin-top: 10px;
    background-color: #222222;
    height: 39px;
    width: 100px;
    border-radius: 8px;
}

.portfoliotext {
    margin-top: 10px;
    font-weight: medium;
    color: #666666;
}

.portfolioall {
    margin-left: 10px;
    margin: auto;
}

.buttonportfolio:hover {
    scale: 1.2;
}

.portfoliocard {
    width: 1fr;
    height: auto;
    background-color: whitesmoke;
    margin-right: 10px;
    box-shadow: 10px 10px 5px wheat;
}

.portfolioimg {
    height: 240px;
    width: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.todolistimg {
    width: 185px;
}

.portfolioimg1 {
    height: 240px;
    width: 1fr;
}

/* Kontakty */
.formtext {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.input {
    width: 1fr;
    height: 40px;
    background-color: #BBBBBB;
    border: solid #888888;
    border-radius: 10px;
}

form {
    margin: auto;
    width: 883px;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 5px;
    width: 883px;
    height: 40px;
    border-radius: 8px;
    background-color: #F0F0F0;
    border: #000000 100%;
}

.buttontext {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.message .success {
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.kontaktsvg {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Footer */
.emailfooter {
    color: white;
}

.footertext {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}